/week4lab/nbproject/private/
/week4lab/build/
/week5lab/nbproject/private/
/week5lab/build/
/gslc1/nbproject/private/
/gslc1/build/
/week6lab/nbproject/private/
/week6lab/build/
/week7lab/nbproject/private/
/week7lab/build/
/weeklab7/nbproject/private/
/weeklab7/build/
/uts1/nbproject/private/
/uts1/build/
/uts1/dist/
/uts/nbproject/private/
/uts/build/
/JavaApplication22/nbproject/private/
/JavaApplication22/build/
/week8lab/nbproject/private/
/week8lab/build/
/week9lab/nbproject/private/
/week9lab/build/
/week10lab/nbproject/private/
/week10lab/build/
